.shoppingProduct {
    width: 100%;
    border: 1px solid #00000033;
    margin-bottom: 2.08vw;

    >div {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1.67vw;
        align-items: center;
        padding: 1.04vw 0;

        &.header {
            background: #ddd;
            margin-bottom: 0.729vw;

            >div {
                font-family: Montserrat;
                font-size: 1.25vw;
                font-weight: 700;
                line-height: 1.52vw;
                text-align: center;
                color: #000;
            }
        }

        .cancel {
            width: 1.875vw;

            img {
                width: 1.875vw;
                height: auto;
                cursor: pointer;
            }
        }

        .image {
            width: 13.958vw;

            img {
                width: 14vw;
                height: 10.4vw;
                object-fit: cover;
                border-radius: 0.4vw;
            }
        }

        .product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.67vw;
            width: 14vw;

            p {
                font-size: 0.9375vw;
                font-weight: 400;
                line-height: 1.134375vw;
                color: #666;

                &:first-child {
                    color: #000;
                }
            }
        }

        .price,
        .piece,
        .subTotal {
            width: 8.3vw;
            font-size: 1.04vw;
            font-weight: 600;
            line-height: 1.5625vw;
            letter-spacing: 0.15em;
        }
    }
}
@media (min-width: 900px) {
    .shoppingProduct {
        width: 62.5vw;
        border: 1px solid #00000033;
        margin-bottom: 2.08vw;
    
        >div {
            width: 100%;
            gap: 1.67vw;
            padding: 1.04vw 0;
    
            &.header {
                margin-bottom: 0.729vw;
    
                >div {
                    font-size: 1.25vw;
                    font-weight: 700;
                    line-height: 1.52vw;
                }
            }
    
            .cancel {
                width: 1.875vw;
    
                img {
                    width: 1.875vw;
                }
            }
    
            .image {
                width: 13.958vw;
    
                img {
                    width: 14vw;
                    height: 10.4vw;
                    border-radius: 0.4vw;
                }
            }
    
            .product {
                gap: 1.67vw;
                width: 14vw;
    
                p {
                    font-size: 0.9375vw;
                    font-weight: 400;
                    line-height: 1.134375vw;
                }
            }
    
            .price,
            .piece,
            .subTotal {
                width: 8.3vw;
                font-size: 1.04vw;
                line-height: 1.5625vw;
                letter-spacing: 0.15em;
            }
        }
    }
}