.loginPage {
    padding: 10vw 0 10vw 0;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        width: 87.5vw;
        margin: auto;

        h2 {
            font-size: 7.5vw;
            font-weight: 600;
            line-height: 8.125vw;
            color: #000;
            margin-bottom: 12.5vw;
            text-align: center;
        }

        >button {
            width: 100%;
            font-size: 4.375vw;
            font-weight: 700;
            line-height: 5vw;
            text-align: center;
            color: #FFFFFF;
            background: #E70BBB;
            padding: 3.75vw;
            border-radius: 1.25vw;
            margin-bottom: 5vw;
        }

        .forgotPass {
            margin-top: -3vw;
            margin-bottom: 3vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            a {
                font-size: 3.75vw;
                font-weight: 700;
                line-height: 4.375vw;
                text-align: center;
                color: #0068AA;
            }
        }

        .createAccount {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.04vw;
            margin-bottom: 4.56vw;

            p {
                font-size: 3.75vw;
                font-weight: 500;
                line-height: 4.375vw;
                letter-spacing: 0.05em;
            }

            a {
                font-size: 3.75vw;
                font-weight: 700;
                line-height: 4.375vw;
                color: #0068AA;
            }
        }

        .otherAccounts {
            p {
                text-align: center;
                margin-bottom: 4vw;
                font-size: 3.75vw;
                font-weight: 400;
                line-height: 4.375vw;
                letter-spacing: 0.05em;
            }

            >div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5vw;

                a,
                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 15.625vw;
                    height: 15.625vw;
                    border: 2px solid #A4A4A4;
                    border-radius: 1.25vw;

                    img {
                        width: 8vw;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (min-width:900px) {
    .loginPage {
        padding: 5.26vw 0 4.427vw 0;

        form {
            width: 31.5625vw;

            h2 {
                font-size: 1.67vw;
                line-height: 2.03vw;
                margin-bottom: 3.85vw;
            }

            >button {
                font-size: 1.04vw;
                line-height: 1.26vw;
                padding: 1.04vw;
                border-radius: 0.4167vw;
                margin-bottom: 1.77vw;
            }

            .forgotPass {
                margin-top: -1.09375vw;
                margin-bottom: 1.77vw;

                a {
                    font-size: 0.9375vw;
                    line-height: 1.134375vw;
                }
            }

            .createAccount {
                gap: 1.04vw;
                margin-bottom: 4.56vw;

                p {
                    font-size: 18px;
                    line-height: 25px;
                }

                a {
                    font-size: 0.9375vw;
                    line-height: 1.134375vw;
                }
            }

            .otherAccounts {
                p {
                    margin-bottom: 1.77vw;
                    font-size: 0.9375vw;
                    line-height: 1.3vw;
                }

                >div {
                    gap: 5vw;

                    a,button {
                        width: 5.2vw;
                        height: 5.2vw;
                        border-radius: 0.4167vw;

                        img {
                            width: 2.5vw;
                        }
                    }
                }
            }
        }
    }
}