.updatepassword {
    padding: 5.2vw 0;
    width: 70vw;

    h3 {
        font-size: 6.25vw;
        font-weight: 700;
        line-height: 7.5vw;
        letter-spacing: 0.08em;
        margin-bottom: 1.667vw;
        color: #000;
    }

    >p {
        font-size: 3.125vw;
        font-weight: 500;
        line-height: 6.25vw;
        color: #848484;
        margin-bottom: 5vw;
        border-bottom: 1px solid #848484;
    }

    form {
        width: 100%;
        margin: auto;

        .password-strength {

            .bar {

                p {
                    font-size: 3.125vw;
                    font-weight: 500;
                    line-height: 6.25vw;
                    color: #848484;
                    margin-bottom: 5vw;
                }

                >div {
                    display: flex;
                    flex-direction: row;
                    gap: 2.5%;
                    margin-bottom: 2vw;

                    span {
                        width: 31.6%;
                        height: 0.26vw;
                        background: #CACACA;
                    }
                }
            }

            ul {
                margin-bottom: 1.77vw;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2vw;
                    margin-bottom: 3vw;

                    p {
                        font-size: 3.125vw;
                        font-weight: 500;
                        line-height: 6.25vw;
                        color: #848484;
                    }
                }
            }
        }

        .formGroup {
            label {
                font-size: 3.75vw;
                font-weight: 600;
                line-height: 4vw;
                margin-bottom: 2vw;
                color: #3A3A3A;
            }
        }

        >.buttons {
            display: flex;
            flex-direction: row;
            gap: 4vw;
            width: 100%;

            button {
                width: 45%;
                padding: 2.5vw;
                font-size: 3.75vw;
                font-weight: 500;
                line-height: 4.375vw;
                text-align: center;
                border-radius:1.25vw;

                &.apply {
                    background: #E70BBB;
                    color: #fff;
                }

                &.discard {
                    border: 1px solid #A4A4A4;
                    color: #3A3A3A;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .updatepassword {
        padding: 5.2vw 0;
        width: 52vw;

        h3 {
            font-size: 1.667vw;
            line-height: 2.03vw;
            margin-bottom: 1.667vw;
        }

        >p {
            font-size: 0.9375vw;
            line-height: 2.08vw;
            margin-bottom: 2.5vw;
        }

        form {
            width: 26vw;

            .password-strength {

                .bar {

                    p {
                        font-size: 0.83vw;
                        line-height: 2.08vw;
                        margin-bottom: 0;
                    }

                    >div {
                        gap: 1.25vw;
                        margin-bottom: 0;

                        span {
                            width: 7.8125vw;
                            height: 0.26vw;
                        }
                    }
                }

                ul {
                    margin-bottom: 1.77vw;

                    li {
                        gap: 0.52vw;
                        margin-bottom: 0.9375vw;

                        p {
                            font-size: 0.729vw;
                            line-height: 2.08vw;
                        }
                    }
                }
            }

            .formGroup {
                label {
                    font-size: 0.83vw;
                    line-height: 1.3vw;
                    margin-bottom: 0.625vw;
                }
            }

            >.buttons {
                gap: 0.52vw;

                button {
                    width: 12.5vw;
                    padding: 0.7vw;
                    font-size: 0.9375vw;
                    line-height: 1.134375vw;
                    border-radius: 0.4vw;
                }
            }
        }
    }
}